* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

/* Start Global Style */
.line {
    margin: auto;
    width: 60%;
    padding: 28px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.line div:nth-child(1){
    box-sizing: border-box;
    width: 32%;
    height: 4px;
    background: #D1C898;
    z-index: 10;
}

.line div:nth-child(2){
    box-sizing: border-box;
    color: #D1C898;
    font-size: calc(100%);
    padding: 0 20px;
    font-weight: 800;
    z-index: 10;
}

.line div:nth-child(3){
    box-sizing: border-box;
    width: 32%;
    height: 4px;
    background: #D1C898;
    z-index: 10;
}
/* End Global Style */

/* Start Navbar */
nav.navbar {
    display: none;
}

nav.mobile-navbar {
    display: block;
    padding: 20px 5%;
    justify-content: space-between;
    align-items: center;
}

.mobile-navbar h3 {
    font-style: italic;
    color: #D1C898;
    font-size: 16px;
}

.navbar .menu a{
    color: #aaa;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.navbar .menu a:hover {
    color: #D1C898;
    border-bottom: 5px solid #D1C898;
}

.navbar .menu a.active {
    color: #D1C898;
    border-bottom: 5px solid #D1C898;
}

.navbar .menu a.buy {
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    background: #D1C898;
    border: none;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    text-decoration: none;   
}

.navbar .buy:hover {
    border: 0.2px solid #AB983733;
}
/* End Navbar */

/* Start Banner */
#banner {
    padding: 0 5% 28px 5%;
    display: flex;
    flex-direction: column;
}

#banner .box-content {
    position: relative;
}

#banner .box-content .decor-content-float {
    padding: 20px 0;
}

#banner .box-content .decor-content-float .main-content {
    position: relative;
    padding-top: 8px;
    font-size: 32px;
    color: #D1C898;
    font-weight: 800;
    font-style: italic;
}

#banner .box-content .decor-content-float .sub-content {
    font-size: 16px;
    padding: 20px 0;
    color: #D1C898;
    font-weight: 400;
    text-align: justify;
}

#banner .box-content .decor-content-float .buy {
    padding: 8px 12px;
    font-weight: 600;
    color: #fff;
    background: #D1C898;
    border: none;
    font-size: 12px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}

#banner .image-content {
    position: relative;
    padding: 24px;
}

#banner .image-content .background-content {
    transform: translateX(-50%);
    border-radius: 50%;
    background: #93913E8C;
    opacity: 0.2;
    width: 280px;
    height: 280px;
    margin: 10px 0;
}

#banner .image-content img {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    filter: drop-shadow(0 10px 12px #93913E8C);
    transform: rotate(-3deg);
}
/* End Banner */

/* Start Khasiat */
#khasiat {
    min-height: 64vh;
}

#khasiat .box-khasiat {
    padding: 0 5%;  
    display: flex;
    flex-direction: column;
}

#khasiat .box-khasiat .content-1 {
    width: 100%;
}

#khasiat .box-khasiat .content-1 .flex-content {
    display: flex;
    gap: 12px;
}

#khasiat .box-khasiat .content-1 .flex-content .direction {
    flex-direction: row;
    width: 50%;
}

#khasiat .box-khasiat .content-1 .flex-content .card-content {
    color: #000;
    font-size: 8px;
    box-shadow: 2px 2px .1px #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 32px;
    height: 32px;
}

#khasiat .box-khasiat .content-2 {
    position: relative;
    left: 0;
    min-height: 20vh;
}

#khasiat .box-khasiat .content-2 img {
    width: 48px;
    height: 48px;
    margin: 20px;
    border-radius: 5px;
    object-fit: fill;
    box-shadow: 2px 4px .5px #ddd;
}

#khasiat .box-khasiat .content-2 img:nth-child(1) {
    position: absolute;
    top: 0%;
    left: 35%;
    transform: translateX(-50%);
}

#khasiat .box-khasiat .content-2 img:nth-child(2) {
    position: absolute;
    top: 20%;
    left: 55%;
    transform: translateX(-50%);
}

#khasiat .box-khasiat .content-2 img:nth-child(3) {
    position: absolute;
    top: 45%;
    left: 38%;
    transform: translateX(-50%);
}
/* End Khasiat */

/* Start Promo */
#promo .box-content h2{
    text-align: center;
    font-size: 32px;
    margin-top: 64px;
    color: #D6CD9D;
}

#promo .box-content {
    padding: 0 5%;
}

#promo .box-content .list-promo {
    display: flex;
    margin-top: 56px;
    flex-direction: column;
    gap: 12vh 0;
}

#promo .list-promo .card-promo{
    position: relative;
    width: 100%;
    height: 35vh;
    box-shadow: 2px 10px 5px #ddd;
    border-radius: 12px;
}

#promo .list-promo .card-promo img {
    position: absolute;
    width: 35%;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

#promo .list-promo .card-promo .desc {
    position: absolute;
    top: 25%;
    left: 0;
    width: 90%;
    line-height: 20px;
    font-weight: 600;
    padding: 20px;
    color: #222;
}

#promo .list-promo .card-promo .desc .line-card {
    width: 100%;
    height: 2px;
    background: #D6CD9D;
    margin-top: 20px;
    border-radius: 2px solid #D6CD9D;
    z-index: 10;
}

#promo .list-promo .card-promo .desc .buy {
    position: absolute;
    margin-top: 12px;
    padding: 8px 30px;
    border-radius: 8px;
    background: #D6CD9D;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
/* End Promo */

/* Start Testimonials */
#testimonials .box-header-testimoni {
    margin-top: 64px;
    padding: 24px 20px;
    text-align: center;
}

#testimonials .box-header-testimoni .content-testimonials {
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    gap: 20vh 0px;
}

#testimonials .box-header-testimoni .content-testimonials .card-testimonial {
    position: relative;
    box-shadow: 5px 5px 0.1px rgba(0,0,0,0.2);
    width: 100%;
    height: 240px;
    border-radius: 20px;
}

#testimonials .box-header-testimoni .content-testimonials img {
    position: absolute;
    top: -30%;
    left: 20px;
    width: 120px;
    filter: drop-shadow(5px 5px .2px rgba(0,0,0,0.2));
}

#testimonials .box-header-testimoni .content-testimonials .testimonial-text {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 65%;
    height: 50%;
    padding: 20px;
    z-index: 10;
    background: #fff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: justify;
}

#testimonials .box-header-testimoni .content-testimonials .testimonial-text .icon {
    font-size: 48px;
    text-align: center!important;
    color: #D1C898;
}

#testimonials .box-header-testimoni .content-testimonials .testimonial-text p {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
}
/* End Testimonials */

/* Start Branded */
#branded {
    position: relative;
    margin-top: 56px;
    display: flex;
    padding: 20px 5%;
    background: #D1C898;
    color: #fff;
    line-height: 24px;
    flex-direction: column-reverse;
}

#branded .company, #branded .contact {
    display: none;
}

#branded .mobile-contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

#branded .mobile-contact .icon {
    display:flex;
    justify-content: space-between;
}

#branded .mobile-contact .box-icon {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
}

#branded .mobile-contact .box-icon img {
    background: #93913E8C;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 8px;
}

#branded .mobile-contact .box-icon p {
    font-size: 12px;
}

#branded .mobile-contact .flex-icon {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    text-align: center;
}

#branded .mobile-contact .pay {
    width: 50%;
    margin-top: 12px;
    padding: 8px 20px;
    border-radius: 12px;
    background: #fff;
    display: flex;
    color: #D1C898;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#branded .mobile-contact .pay img {
    width: 64px;
    height: 48px;
}

#branded .mobile-contact .sicepat {
    width: 50%;
    margin-top: 12px;
    padding: 8px 20px;
    border-radius: 12px;
    background: #fff;
    display: flex;
    color: #D1C898;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#branded .mobile-contact .sicepat img {
    width: 128px;
    height: 64px;
}

#branded .mobile-contact .bpom {
    width: 50%;
    margin-top: 12px;
    padding: 8px 20px;
    border-radius: 12px;
    background: #fff;
    display: flex;
    color: #D1C898;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#branded .mobile-contact .bpom img {
    width: 64px;
    height: 64px;
}

#branded .mobile-company {
    width: 100%;
    margin-top: 24px;
    text-align: center;
}

#branded .mobile-company p {
    text-align: justify;
}

#branded .mobile-company .box-order .buy {
    background: #33E24A;
    margin: 18px 20px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 12px;
    border-radius: 20px;
    box-shadow: 0px 5px .2px #40C351;
}

#branded .mobile-company .box-order .buy img {
    width: 24px;
    height: 24px;
}
/* End Branded */

#footer {
    background: #93913E8C;
    padding: 12px 20px;
}

#footer p {
    text-align: center;
    font-weight: 800;
    color: #fff;
    font-size: 12px;
}

/* Media Laptop */
@media(min-width:992px) {
    /* Start Global Style */
    .line {
        margin: auto;
        width: 60%;
        padding: 64px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .line div:nth-child(1){
        box-sizing: border-box;
        width: 32%;
        height: 4px;
        background: #D1C898;
        z-index: 10;
    }

    .line div:nth-child(2){
        box-sizing: border-box;
        color: #D1C898;
        font-size: calc(100%);
        padding: 0 20px;
        font-weight: 800;
        z-index: 10;
    }

    .line div:nth-child(3){
        box-sizing: border-box;
        width: 32%;
        height: 4px;
        background: #D1C898;
        z-index: 10;
    }
    /* End Global Style */

    /* Start Navbar */
    nav.navbar {
        display: flex;
        padding: 20px 5%;
        justify-content: space-between;
        align-items: center;
    }

    nav.mobile-navbar {
        display: none;
    }
    
    .navbar h3 {
        font-style: italic;
        color: #D1C898;
    }
    
    .navbar .menu a{
        color: #aaa;
        padding: 0 20px;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
    }
    
    .navbar .menu a:hover {
        color: #D1C898;
        border-bottom: 5px solid #D1C898;
    }
    
    .navbar .menu a.active {
        color: #D1C898;
        border-bottom: 5px solid #D1C898;
    }
    
    .navbar .menu a.buy {
        padding: 12px 16px;
        font-weight: 600;
        color: #fff;
        background: #D1C898;
        border: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        cursor: pointer;
        text-decoration: none;   
    }
    
    .navbar .buy:hover {
        border: 0.2px solid #AB983733;
    }
    /* End Navbar */

    /* Start Banner */
    #banner {
        padding: 0 5% 64px 5%;
        display: flex;
        flex-direction: row;
    }

    #banner .box-content {
        position: relative;
        width: 50%;
        margin-top: 48px;
    }

    #banner .box-content .decor-content-float {
        position: absolute;
        left: 0;
        padding: 20px;
        width: 80%;
        z-index: 10;
        opacity: 1;
    }

    #banner .box-content .decor-content-float .main-content {
        font-size: 42px;
        line-height: 48px;
        color: #D1C898;
        font-weight: 800;
        font-style: italic;
        padding-bottom: 20px;
    }

    #banner .box-content .decor-content-float .sub-content {
        padding-top: 0;
        font-size: 24px;
        line-height: 36px;
        color: #aaa;
        font-weight: 400;
        text-align: justify;
        padding-bottom: 36px;
    }

    #banner .box-content .decor-content-float .buy {
        padding: 12px 16px;
        font-weight: 600;
        color: #fff;
        background: #D1C898;
        border: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        cursor: pointer;
        text-decoration: none;
        font-size: 24px;
    }

    #banner .image-content {
        position: relative;
        width: 50%;
    }

    #banner .image-content .background-content {
        position: relative;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        background: #93913E8C;
        opacity: 0.2;
        width: 420px;
        height: 420px;
        margin: 32px 0;
    }

    #banner .image-content img {
        position: absolute;
        top: 5%;
        left: 10%;
        width: 80%;
        height: 100%;
        filter: drop-shadow(0 10px 12px #93913E8C);
        transform: rotate(-3deg);
    }
    /* End Banner */

    /* Start Khasiat */
    #khasiat {
        min-height: 64vh;
    }

    #khasiat .box-khasiat {
        padding: 0 5%;  
        display: flex;
        flex-direction: row-reverse;
    }

    #khasiat .box-khasiat .content-1 {
        width: 60%;
    }

    #khasiat .box-khasiat .content-1 .flex-content {
        display: flex;
        gap: 20% 10px;
    }

    #khasiat .box-khasiat .content-1 .flex-content .direction {
        flex-direction: row;
        width: 50%;
    }

    #khasiat .box-khasiat .content-1 .flex-content .card-content {
        color: #000;
        font-size: 12px;
        box-shadow: 2px 2px .1px #ddd;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 32px;
    }

    #khasiat .box-khasiat .content-2 {
        position: relative;
        width: 40%;
        padding: 20px;
        left: 25%;
        transform: translateX(-50%);
    }

    #khasiat .box-khasiat .content-2 img {
        width: 128px;
        height: 128px;
        margin: 20px;
        border-radius: 5px;
        object-fit: fill;
        box-shadow: 2px 4px .5px #ddd;
    }

    #khasiat .box-khasiat .content-2 img:nth-child(1) {
        position: absolute;
        top: 20%;
        left: 10%;
    }

    #khasiat .box-khasiat .content-2 img:nth-child(2) {
        position: absolute;
        top: 40%;
        left: 40%;
    }

    #khasiat .box-khasiat .content-2 img:nth-child(3) {
        position: absolute;
        top: 60%;
        left: 15%;
    }
    /* End Khasiat */

    /* Start Promo */
    #promo .box-content h2{
        text-align: center;
        font-size: 32px;
        margin-top: 64px;
        color: #D6CD9D;
    }

    #promo .box-content {
        padding: 0 5%;
    }

    #promo .box-content .list-promo {
        display: flex;
        margin-top: 56px;
        flex-direction: row;
    }

    #promo .list-promo .card-promo{
        position: relative;
        width: 25%;
        height: 32vh;
        box-shadow: 2px 10px 5px #ddd;
        margin: 20px;
        padding: 20px;
        border-radius: 12px;
    }

    #promo .list-promo .card-promo img {
        position: absolute;
        width: 50%;
        top: -54px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
    }

    #promo .list-promo .card-promo .desc {
        position: absolute;
        width: 100%;
        left: 0%;
        top: 40%;
        line-height: 20px;
        font-weight: 600;
        color: #222;
    }

    #promo .list-promo .card-promo .desc .line-card {
        width: 85%;
        height: 2px;
        background: #D6CD9D;
        margin-top: 20px;
        border-radius: 2px solid #D6CD9D;
        z-index: 10;
    }

    #promo .list-promo .card-promo .desc .buy {
        position: absolute;
        margin-top: 12px;
        padding: 8px 30px;
        border-radius: 8px;
        background: #D6CD9D;
        text-decoration: none;
        color: #fff;
        font-weight: 800;
    }
    /* End Promo */

    /* Start Testimonials */
    #testimonials .box-header-testimoni {
        margin-top: 64px;
        /* width: 100%; */
        padding: 24px 20px;
        text-align: center;
    }

    #testimonials .box-header-testimoni .content-testimonials {
        display: flex;
        flex-flow:row wrap;
        justify-content: center;
        gap: 20px;
    }

    #testimonials .box-header-testimoni .content-testimonials .card-testimonial {
        position: relative;
        padding: 20px;
        box-shadow: 5px 5px 0.1px rgba(0,0,0,0.2);
        width: 25%;
        height: 240px;
        border-radius: 20px;
    }

    #testimonials .box-header-testimoni .content-testimonials img {
        position: absolute;
        top: -30%;
        left: 20px;
        width: 120px;
        filter: drop-shadow(5px 5px .2px rgba(0,0,0,0.2));
    }

    #testimonials .box-header-testimoni .content-testimonials .testimonial-text {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 65%;
        height: 50%;
        padding: 20px;
        z-index: 10;
        background: #fff;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        text-align: justify;
    }

    #testimonials .box-header-testimoni .content-testimonials .testimonial-text .icon {
        font-size: 48px;
        text-align: center!important;
        color: #D1C898;
    }

    #testimonials .box-header-testimoni .content-testimonials .testimonial-text p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        text-align: justify;
    }
    /* End Testimonials */

    /* Start Branded */
    #branded {
        position: relative;
        margin-top: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 5%;
        background: #D1C898;
        color: #fff;
        line-height: 24px;
    }

    #branded .mobile-company, #branded .mobile-contact {
        display: none;
    }

    #branded .company, #branded .contact {
        display: block;
    }

    #branded .contact {
        width: 50%;
    }

    #branded .contact .box-icon {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: 20px;
        text-decoration: none;
        color: #fff;
    }

    #branded .contact .box-order .buy {
        background: #33E24A;
        padding: 12px;
        width: 60%;
        text-align: center;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 12px;
        border-radius: 20px;
        box-shadow: 0px 5px .2px #40C351;
    }

    #branded .contact .box-order .buy img {
        width: 24px;
        height: 24px;
    }

    #branded .contact .box-icon img {
        background: #93913E8C;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        padding: 12px;
    }

    #branded .contact .box-icon p {
        font-size: 18px;
    }

    #branded .company {
        width: 80%;
        margin-top: 24px;
    }

    #branded .company p {
        text-align: justify;
    }

    #branded .company .flex-icon {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    #branded .company .pay {
        margin-top: 12px;
        padding: 8px 20px;
        border-radius: 12px;
        background: #fff;
        display: flex;
        color: #D1C898;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }

    #branded .company .pay img {
        width: 84px;
        height: 64px;
    }

    #branded .company .sicepat {
        margin-top: 12px;
        padding: 8px 20px;
        border-radius: 12px;
        background: #fff;
        display: flex;
        color: #D1C898;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }

    #branded .company .sicepat img {
        width: 128px;
        height: 64px;
    }

    #branded .company .bpom {
        margin-top: 12px;
        padding: 8px 20px;
        border-radius: 12px;
        background: #fff;
        display: flex;
        color: #D1C898;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }

    #branded .company .bpom img {
        width: 64px;
        height: 64px;
    }
    /* End Branded */

    /* Start Footer */
    #footer {
        background: #93913E8C;
        padding: 12px 20px;
    }
    
    #footer p {
        text-align: center;
        font-weight: 800;
        color: #fff;
        font-size: 16px;
    }

    /* End Footer */
}